.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;
  }

  .nav-links {
    display: flex;
    gap: 1rem; /* Adjust the gap as needed */
    /* other styles */
  }
  
  .logo{
    margin: 0 auto;
    padding: 0.5rem;
  }
  
  .logo:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.3s ease;
  }
  
  
  .link-class-name {
    color: #757575; /* 현재 텍스트 색을 상속 */
    text-decoration: none; /* 텍스트 밑줄 없애기 */
    padding: 1rem 1.5rem;
    font-size: 0.95rem;
    display: inline-block; /* 요소를 인라인 블록 요소로 설정 */
    transition: transform 0.2s ease; /* transform 속성에 대한 transition 추가 */
    transform: scale(1); /* 초기 크기 설정 */
  }
  
  .link-class-name:hover {
      color: #202020; /* 호버 시 색상 변경 */
      cursor: pointer;
      transform: scale(1.1);
      transition: all 0.1s ease;
    }
    


/* Styles for smartphones */
@media (max-width: 480px) {
    .nav-bar {
      /* Adjust the nav bar styling for smaller screens */
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links {
      flex-direction: column;
      width: 100%; /* Take up full container width */
      align-items: center;
    }
  
    .link-class-name {
      font-size: 0.8rem; /* Even smaller font size */
      width: 100%; /* Full width to stack links */
      text-align: center; /* Center text */
      padding: 0.5rem 0; /* Add padding to increase touch area */
      /* additional style adjustments */
    }
  }